# Places
{% for place in places %}
## {{ place.name }}

**Type:** {{ place.type }}  
**Region:** {{ place.region }}  
**Best time:** {{ place.best_time or "Not set" }}  
**Estimated visit:** {{ place.estimated_visit or "Not set" }}

| Category | Rating |
|---|---|
| Family | {{ place.ratings.family | stars }} |
| Snorkeling | {{ place.ratings.snorkeling | stars }} |
| Photography | {{ place.ratings.photography | stars }} |
| Parking | {{ place.ratings.parking | stars }} |

**Coordinates:** {{ place.coordinates.latitude }}, {{ place.coordinates.longitude }}

---
{% endfor %}
