# Places

{% for place in places %}

## {{ place.name }}

**Type:** {{ place.type }}  
**Region:** {{ place.region }}  

### Ratings

| Category | Score |
|---|---|
| Family | {{ place.ratings.family | stars }} |
| Snorkeling | {{ place.ratings.snorkeling | stars }} |
| Photography | {{ place.ratings.photography | stars }} |
| Parking | {{ place.ratings.parking | stars }} |

### Features

{% for key, enabled in place.features.items() if enabled %}
- {{ key.replace("_", " ").title() }}
{% endfor %}

### Visit Information

**Best time:** {{ place.best_time or "Not specified" }}  

**Duration:** {{ place.estimated_visit or "Not specified" }}

### Location

Coordinates:
{{ place.coordinates.latitude }}, {{ place.coordinates.longitude }}


[Open in Google Maps]({{ place | maps_link }})

---

{% endfor %}